<header class="p-4 mx-4 flex flex-row justify-between items-center">
  <div class="flex flex-row items-center">
    <h1 class="logo"><a routerLink="/">MICROFICHE | Angular MFE w/ Portal Authentication</a></h1>
  </div>
  <div class="justify-end nav-div">
    <span class="mr-4 welcome" *ngIf="name">Welcome back, {{name}}</span>
    <nav>
      <ul class="inline-flex gap-3 menu-links">
<!--        TODO | GRIFF: Remove Okta entirely when you want.-->
<!--        <li>-->
<!--          <a routerLink="/okta-profile">-->
<!--            <button-->
<!--                    class="flex items-center transition ease-in delay-150 duration-300 h-10 px-4 rounded-lg hover:border hover:border-sky-400"-->
<!--                    routerLinkActive="font-semibold"-->
<!--                    [routerLinkActiveOptions]="{exact: true}"-->
<!--            >-->
<!--              <span class="material-icons-outlined">lock</span>-->
<!--              <span>Locked By Okta</span>-->
<!--            </button>-->
<!--          </a>-->
<!--        </li>-->
        <li>
          <a routerLink="/portal-profile">
            <button class="flex items-center"
                    routerLinkActive="font-semibold"
                    [routerLinkActiveOptions]="{exact: true}"
            >
              <span>Portal Profile MFE</span>
            </button>
          </a>
        </li>
        <li>
          <a routerLink="/basket">
            <button class="flex items-center" routerLinkActive="font-semibold">
              <span>Basket MFE</span>
            </button>
          </a>
        </li>
        <li>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="mt-6">
  <router-outlet></router-outlet>
</div>

