/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    background-color: #212121;
    color: #FFF;
    margin: 0 0 50px;
}

.main-container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    border-bottom: 1px solid #000;
    margin: 0 !important;
}

.logo {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.logo:hover {
    color: #666;
}

.text-wrap {
    word-wrap: anywhere;
    font-size: .8em;
}

app-profile, app-basket {
    max-width: 800px;
    display: block;
    border: 2px solid #ccc;
    padding: 15px;
    margin: 50px auto;
}

.nav-div {
    gap: .2em;
    display: flex;
    flex-flow: column;
}

h1, h2, h3, h4 {
    color: #1DB954;
    font-family: 'Roboto Slab', serif;
}

.nav-div span.welcome {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1px;
    align-items: baseline;
}

.menu-links {
    font-size: 14px;
}

.menu-links a:hover {
    color: dodgerblue;
    transition: color .3s;
}

.antique-white {
    color: antiquewhite;
}

